{% include "header.html" %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url({{ url_for('static', filename='img/about-bg.jpg')}})">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>About Me</h1>
            <span class="subheading">This is what I do.</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p>Hello , you guys. This is kiran here , I run this blog page as of now and to talk about myself. I'm a
          sophomore computer science engineering student, and I aspire to be an Entrepreneur to levitate the lives of
          mankind.
        </p>
        <p>Writing makes me feel clear in my thought, and I also feel creative through my writing. I wanted to share
          my writing with every one of you guys and thought there wasn't any better way to reaching out to
          people than starting a blog page.
        </p>
        <p>You can feel free to connect with me. You can contact me through my socials which I have linked
          down below, or you can fill out the form in the contact section of this blog website to send me a mail.
        </p>
      </div>
    </div>
  </div>

  <hr>

  {% include "footer.html" %}